<h2> <%= @user.name%>, witaj w serwisie GRUNE!!!</h2>
<br />

<p>Aby zalogować się do serwisu prosimy przejść na stronę: <a href="https://grune.herokuapp.com">grune.herokuapp.com</a></p>
<br />
<p>Twoje dane logowania to:</p>
<p>Login: <strong><%= @user.email%></strong></p>
<p>Hasło: <strong><%= @user.password%></strong></p>
<br />

<p>W razie problemów z logowanie prosimy o kontakt pod numerem telefonu 696-488-524, lub mailowo na adres - <a href="m.osowski@grune.pl">m.osowski@grune.pl</a></p>

<br />

<h3>Pozdrawiam serdecznie <br />
Administrator serwisu Grune</h3>