
<div class ="col-lg-12">
<h1>Editing user</h1>
<br />
	<%= link_to( {:action => 'index'}, :class => 'back-link', class: "btn btn-primary") do %>
<i class="glyphicon glyphicon-chevron-left"> Back to List</i>
<% end %>
<br />
<br />
<%= render 'form' %>

</div>

