<h1>
Witamy w systemie GRUNE
</h1><br /><br />
<p>GRUNE Mikołaj Osowski</p>
<p>ul. Pszczyńska 17</p>
<p>32-620 Brzeszcze</p>
<p>NIP: 5492226556</p>
<p>REGON 122961914</p>
<p>Tel.: 696-488-524 17-20:00</p>
<p>E-mail: m.osowski@grune.pl</p>
<p>Działaność obejmuje: Budowe stacji roboczych na macOS (Hackintosh), serwis komputerów, budowe i konfiguracje sieci komputerowych.</p>
﻿
 <div class="navbar navbar-fixed-bottom">
   <div class="width-constraint clearfix">
            <p class="navbar-text pull-left">© Mateusz Janus (mateusz.janus@poczta.onet.pl)</p>

            <p class="navbar-text pull-right">© 2017 • ALL RIGHTS RESERVED #Ruby on Rails #Twitter Bootstrap #GlyphIcons</p>
        </div>
 </div>