<h2> Witaj <%= @users.name%></h2>
<br />

<p>Administator systemu GRUNE ma dla Ciebie bardzo ważną wiadomość:</p>
<p><strong><%= @message.content.gsub(/\n/, '<br/>').html_safe %></strong></p>

<p>W razie dodatkowych pytań prosimy o kontakt pod numerem telefonu 696-488-524, lub mailowo na adres - <a href="mailto:m.osowski@grune.pl">m.osowski@grune.pl</a></p>
<br />
<h3>Pozdrawiam serdecznie <br />
Administrator serwisu Grune</h3>