<h2>Witaj <%= @resource.name %>!</h2>

<p>Ktoś z tego adresu mailowego zażądał link do zmiany hasła do systemu GRUNE. Można to zrobić za pomocą linku poniżej.</p>

<p><%= link_to 'Zmień moje hasło', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Jeśli nie wysyłałeś takiego żądania, proszę zignoruj tego maila.</p>
<p>Twoje hasło nie zmieni się dopóki nie otworzysz powyższego linku i sam go nie zmienisz.</p>

<h3>Pozdrawiam serdecznie <br />
Administrator serwisu Grune</h3>
